{% extends 'basic.html' %}
{% block body %}
{% load static %}
<section id="user-profile" class="py-1">
            {% if user.is_authenticated %}
            <br>
            {% else %}
            <div class="container text-center">
                <h1 class="title">Sign In As</h1>
                <div class="row mt-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <a href="/users/patientlogin/">
                          <img  alt="patient" src="{% static 'images/patient.png' %}"  class="img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/users/doctorlogin/">
                          <img  alt="doctor" src="{% static 'images/doctor.png' %}"  class="img">
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
{% endblock %}