{% extends 'basic.html' %}
       {% block body %}
        <div class="container contents">
            <div class="container text-center">
                <h1 class="title">Feedback</h1>
                  <div class="feedback text-center">
                     <input class="feedback-text" type="text" placeholder="Feedback Here"></div>
                    <button type="button" class="Submit" align="center">Submit</button>
              </div>
              </div>
              </div>
        {% endblock %}
              

        
      


